body {
    color:; #111111;
    font-family: helvetica,arial,sans-serif;
    background: url("../images/60degree_gray.gif") repeat scroll 0 0 #EBEBEB;
}

header {
    background: #333;
    padding: 0 20px;
    min-width: 960px;
}

header #msg {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

header #msg h4 {
    font-weight: bold;
    font-size: 16   px;
    margin: 0 0 10px 0;
}

header #msg li {
    line-height: 20px;
}

header #msg.notice {
    background: none repeat scroll 0 0 rgba(167, 232, 162, 0.6);
}

header #msg.notice:hover {
    background: none repeat scroll 0 0 rgba(167, 232, 162, 1);
}


header #msg.warning {
    background: none repeat scroll 0 0 rgba(224, 113, 83, 0.6);
    min-width: 960px;
}

header nav {
    float: right;
    width: 100%;
    text-align:right;
}

header nav ul {
    list-style-type: none;
    margin: 7px 0 0 0;
    padding: 0;
}

header nav ul li {
    padding: 0;
    display :inline;
}

header nav ul li a {
    color: #FFFFFF;
    padding: 1px 0;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 10px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header h1 {
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2em;
    padding: 15px 0;
    text-shadow: 1px 1px 2px #000000;
    text-transform: none;
}

#container {
    min-width: 960px;
    padding: 20px;
}

#container #maincol {
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    width: 71%;
    float: left;
    background: #fff;
}

#container #maincol h3 {
    background-color: #F1F8FE;
    border-bottom: 1px solid #DADEE5;
    border-top: 1px solid #DADEE5;
    
    margin: 0;
    padding: 15px 20px;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2em;
    text-transform: none;
}

#container #maincol h3.first {
    border-top: none;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}



#container #maincol label {
    color: #666666;
    display: block;
    font-weight: bold;
    padding-bottom: 2px;
}

#container #maincol div.field, #container #maincol p {
    margin: 12px 20px;
}

#container #maincol p {
    font-size: 14px;
    line-height: 15px;
}

#container #maincol input, #container #maincol textarea {
    border: 1px solid #E2E2E2;
    width: 100%;
    font-size: 1.0em;
}
#container #maincol input:hover, #container #maincol textarea:hover {
    border: 1px solid #A2A294;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#container #maincol span.desc {
    color: #8C8C8C;
    font-size: 0.7em;
    font-style: italic;
}

#container #subcol {
    float: right;
    width: 25%;
}

#container #subcol .notice {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 9px 9px 9px 9px;
    background: #fff;
    padding: 10px;
}

#container #subcol .notice h4 {
    font-weight: bold;
    padding: 10px 2px;
    border-bottom: 1px solid #C0C0C0;
    color: #111111;
    font-size: 13px;
    margin: 0 0 10px 0;
    
}

#container #subcol .notice p {
    color: #111111;
    font-size: 12px;
    padding: 0 7px;
    line-height: 14px;
    margin: 10px 0;
}


footer {
    clear:both;
    min-width: 960px;
}

footer dl {
    float: left;
    font-size: 0.8em;
    display: block;
    margin: 1em 0 1em 2em;
}

footer dl dt {
    color: #444444;
    display: block;
    font-weight: bold;
    margin: 0 0 6px;
    padding: 0;
    white-space: nowrap;
}

footer dl dd, footer dl dd a {
    color: #666666;
    display: block;
    font-weight: 200;
    margin: 0 0 3px;
    padding: 0;
    text-decoration: none;
    font-size: 0.95em;
}